body{
    background-color: rgba(0, 0, 255, 0.392);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
    ;
}
.wrapper{
    width: 80%;
    padding: 10px;
    margin: auto;
    border: 3px inset;
    border-radius: 10px;
    background-color: azure;
    color:white;
}
header{
    background-color: rgba(238, 130, 238, 0.752);
    padding: 50px;
    text-align: center;
    font-size: 30px;
    color: white;
}
nav{
    float: left;
    width: 150px;
    background-color: aqua;
    padding: 30px;
    min-height: 300px;
}
nav a{
    text-decoration: none;
    display: block;
    padding: 5px;
    &:hover{
        background-color: blue;
        color: black;
        padding: 3px;
    }
}
main{
    background-color: rgba(165, 42, 42, 0.704);
    padding: 15px;
    margin-left: 160px;
    color: white;
    min-height: 300px;
}
footer{
    background-color: rgba(220, 20, 60, 0.779);
    color: white;
    padding: 10px;
    text-align: center;
}
